@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import "tailwindcss";
@plugin "daisyui";

.dancing{
  font-family: "Dancing Script";
  font-optical-sizing: auto;
}

a.active{
  background: #007777;
  color: white;
}